/* styled.css */

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 30px;
  padding-left: 500px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  margin: 50px auto; /* Add space above and below the container */
}

h1 {
  color: black;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

input[type="text"],
select {
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #dd356e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #c72257;
}

input[type="submit"]:focus {
  outline: none;
}
