{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}

	<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About Us</h2>
					<p>Our website serves as a platform connecting restaurants with excess food to NGOs, enabling the efficient distribution of food to those in need. By leveraging location, food type, and quantity criteria, restaurants and NGOs can connect and ensure timely assistance. With the integration of a predictive machine learning model, restaurants can make informed decisions to reduce food wastage. Together, we strive to minimize food waste and combat hunger, one meal at a time.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>Our Mission.</h3>
					<p>Our mission is to create a sustainable and compassionate ecosystem that connects restaurants with excess food to NGOs, enabling efficient distribution to those in need. We are dedicated to reducing food waste, combating hunger, and fostering social impact by leveraging technology and collaborative partnerships. Together, we strive to make a positive difference in our communities, one meal at a time.</p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-12 text-center animate-box">
					<p><img src="images/cover_bg_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive img-rounded"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-features">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-hotairballoon"></i>
							</span>
							<div class="feature-copy">
								<h3>Customized Matchmaking</h3>
								<p>Matching restaurants and NGOs based on location, food type, and quantity to ensure a tailored and effective food distribution process.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Efficient Food Donation</h3>
								<p>Streamlined process connecting restaurants with excess food to NGOs for efficient and timely food donation.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Real-Time Updates</h3>
								<p>Restaurants can provide real-time updates on their surplus food availability, enabling NGOs to access the most up-to-date information.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 animate-box">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-wine"></i>
							</span>
							<div class="feature-copy">
								<h3>Specific NGO Requests</h3>
								<p>NGOs can specify their specific food requirements, ensuring they receive the food that aligns with their beneficiaries' needs.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>

					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Predictive Analytics</h3>
								<p>Integration of machine learning technology to predict food wastage, assisting restaurants in proactive planning and reducing unnecessary surplus.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Impact Tracking</h3>
								<p>Monitoring and reporting the positive impact achieved through the collaboration of restaurants and NGOs, promoting transparency and accountability.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-content-section">
		<div class="container">
			<div class="row row-bottom-padded-md">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>Our Team</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="images/user-1.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Designer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>
						

					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="images/user-2.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Developer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="images/user-3.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Photographer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>
						
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="images/user-1.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Designer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>
						

					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="images/user-2.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Developer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>
						
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="images/user-3.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Photographer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Us!</h2>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>Halthunger.</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-md-push-1 fh5co-widget">
					<h4>Categories</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Landing Page</a></li>
						<li><a href="#">Real Estate</a></li>
						<li><a href="#">Personal</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">e-Commerce</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-md-push-1 fh5co-widget">
					<h4>Contact Information</h4>
					<ul class="fh5co-footer-links">
						<li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
						<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="http://https://freehtml5.co">freehtml5.co</a></li>
					</ul>
				</div>

			</div>

{% include "footer.html" %}