{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}



<div class="containernew">
    <div class="button-container">
        <h2>Join us now!</h2>
        <div class="buttons">
            <a href="/loginpage" class="button">Login</a>
            <a href="/registerpage" class="button">Register</a>
        </div>
    </div>
    
    <form>
        <!-- Login form fields -->
    </form>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

{% include "footer.html" %}
