<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>NGO Form</title>-->
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='styled.css') }}">-->
<!--</head>-->
<!--<body>-->
{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}
    <h1>NGO Form</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{ form.picture.label }} {{ form.picture }}
        </div>
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.location.label }} {{ form.location }}
        </div>
        <div>
            {{ form.full_address.label }} {{ form.full_address }}
        </div>
        <div>
            {{ form.contact_details.label }} {{ form.contact_details }}
        </div>
        <div>
            {{ form.capacity.label }} {{ form.capacity }}
        </div>
        <div>
            {{ form.age.label }} {{ form.age }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
<!--</body>-->
<!--</html>-->
{% include "footer.html" %}
