{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}

	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hello! </h2>
					<p>Thank you for being a part of ShareTheMeal. Every little donation of yours makes a big difference!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="restaurant_profile">
						 <div class="portfolio-entry" style="background-image: url(static/profile.jpg);"></div>
							<div class="portfolio-text">
								<h3>View and edit profile.</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="res_food_details">
							<div class="portfolio-entry" style="background-image: url(static/adddetails.jpg);"></div>
							<div class="portfolio-text">
								<h3>Add food details.</h3>
								
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(static/viewngo.jpg);"></div>
							<div class="portfolio-text">
								<h3>View NGOs</h3>
								
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(static/messages.jpg);"></div>
							<div class="portfolio-text">
								<h3>Messages</h3>
								
							</div>
						</a>
					</div>
				</div>
		</div>
	</div>

    {% include "footer.html" %}
